<%= link_to "<i class='fa fa-fw fa-arrow-left'></i>".html_safe, help_index_path, :title => "Close", :class => "wcms-sidebar-link wcms-close-drawer-link left", :remote => true -%>
<h4 class="lead text-xs-center wcms-white-text"> 
  <i class="<%= HelpTopic::ICON -%>"></i> <%= @help.title -%>
</h4>
<div class="row wcms-help-text">
  <div class="col-xs-12 small">
  	<%= @help.body.html_safe -%>
  </div>
</div>