.hidden {
	display: none !important;
}

/* DROPDOWNS ON NAVBAR */
.navbar-light.bg-faded li a {
}
.navbar-light.bg-faded li a {
	color: rgba(0,0,0,.3);
}
.navbar-light.bg-faded li a:hover {
	color: rgba(0,0,0,.6);
}
.navbar-light.bg-faded li.active a {
	color: #000;
	background: transparent;
}
.navbar-dark.bg-inverse .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	border-top-color: rgba(0,0,0,.3);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}


.navbar-dark.bg-inverse li a {
}
.navbar-dark.bg-inverse li a {
	color: rgba(255,255,255,.3);
}
.navbar-dark.bg-inverse li a:hover {
	color: rgba(255,255,255,.6);
}
.navbar-dark.bg-inverse li.active a {
	color: #fff;
	background: transparent;
}
.navbar-dark.bg-inverse .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	border-top-color: rgba(255,255,255,.3);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

