html, body {
	height: 100%;
	min-height: 100%;
}

body.wcms-navbar-fixed-top.wcms-overlap .top-bar {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1000;
}

body.wcms-navbar-fixed-bottom #wcms-content-wrapper {
	padding-bottom: 56px !important;	
}

.wcms-navbar-fixed-top #wcms-content-wrapper {
	padding-top: 56px !important;
}

nav.wcms-cell-controls:not(#wcms-cell-controls-header) {
	border-radius: 0 0 0.25rem 0.25rem;
	background-color: rgba(51, 51, 51, 0.85);
	z-index: 2000;
	position: relative;
}

#wcms-cell-controls-header {
	margin-top: 0px;
	border-radius: 0 0 0 0;
	background-color: rgba(51, 51, 51, 0.85);
	z-index: 2000;
}


#wcms-work-area .row:not(.expanded) {	
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.wcms-full-height-container .wcms-master-row {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

#wcms-master-menu .menu {
	background-color: rgba(51, 51, 51, 0.85);
	border-color: #7f7f7f;
}

#wcms-master-menu .divider {
	border-top: 1px solid #7f7f7f;
	clear: both;
	height: 1px;
	width: 100%;
}

.wcms-form-help {
	color: #d6d6d6 !important;
	font-size: 0.75rem !important;
}

p.wcms-form-help {
	margin-bottom: 0 !important;
}

nav.wcms-cell-controls {
	margin-top: -22px; /* -24px;*/
	border-radius: 0 0 0.25rem 0.25rem;
	background-color: rgba(51, 51, 51, 0.85);
	z-index: 2000;
	position: relative;
	padding: 2px;
}

.wcms-header .card, .wcms-header .card-img {
	border-radius: 0;
	position: relative;
}

.card-img-overlay {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	padding: 1.25rem;
}

.wcms-header .card-img-overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.wcms-header {
	background-color: transparent;
	position: relative;
}

small.text-help.err-msg {
	color: #f0ad4e;
}

.has-warning label.wcms-white-text {
	color: #f0ad4e;
}

.has-warning input.form-control {
	border-color: #f0ad4e;
}

/* DROPDOWNS ON NAVBAR */
.navbar-light.bg-faded li a {
}
.navbar-light.bg-faded li a {
	color: rgba(0,0,0,.3);
}
.navbar-light.bg-faded li a:hover {
	color: rgba(0,0,0,.6);
}
.navbar-light.bg-faded li.active a {
	color: #000;
	background: transparent;
}
.navbar-dark.bg-inverse .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	border-top-color: rgba(0,0,0,.3);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

#wcms-master-menu.dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	border-top-color: transparent;
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

.list-unstyled {
	list-style: none;
	margin-left: 0;
}

.nav-pills.bg-inverse.nav-dark li.opens-right>a:after {
	border-left-color: rgba(0, 0, 0, .5) !important;
}
.nav-pills.bg-inverse.nav-light li.opens-right>a:after {
	border-left-color: rgba(0, 0, 0, .5) !important;
}
.nav-pills.bg-inverse.nav-dark li.opens-left>a:after {
	border-right-color: rgba(0, 0, 0, .5) !important;
}
.nav-pills.bg-inverse.nav-light li.opens-left>a:after {
	border-right-color: rgba(0, 0, 0, .5) !important;
}

.dropdown-item {
	color: #373a3c;
}
.nav-pills #wcms-master-menu a {
  color: rgba(0, 0, 0, .3);
}
#wcms-master-menu a:after {
	border: none;
}

.wcms-form-box .form-control-xs, .wcms-form-box .form-control-sm {
	padding: .175rem .5rem !important;
	line-height: 1.5 !important;
}

.navbar-dark.bg-inverse li a {
}
.navbar-dark.bg-inverse li a {
	color: rgba(255,255,255,.3);
}
.navbar-dark.bg-inverse li a:hover {
	color: rgba(255,255,255,.6);
}
.navbar-dark.bg-inverse li.active a {
	color: #fff;
	background: transparent;
}
.navbar-dark.bg-inverse .dropdown.menu>li.is-dropdown-submenu-parent>a:after {
	border-top-color: rgba(255,255,255,.3);
	border-right-color: transparent;
	border-bottom-color: transparent;
	border-left-color: transparent;
}

[type=radio]+label {
	margin-right: .4rem !important;
	margin-left: .4rem !important;
	font-size: 80%;
}

[type=radio]+label.button {
	margin-right: 0 !important;
	margin-left: 0 !important;
}

[type=text], select {
	height: auto !important;
}

.minicolors-input {
	height: 30px !important;
}

.button-group input{
  display: none;
}

.button-group input:checked + label.wcms-publish,
.button-group input:checked + label.wcms-publish:active,
.button-group input:checked + label.wcms-publish:hover {
  background-color: #3adb76 !important;
}
.button-group input:checked + label.wcms-draft,
.button-group input:checked + label.wcms-draft:active,
.button-group input:checked + label.wcms-draft:hover {
  background-color: #f0ad4e !important;
}
.button-group input:checked + label.wcms-delete,
.button-group input:checked + label.wcms-delete:active,
.button-group input:checked + label.wcms-delete:hover {
  background-color: #ec5840 !important;
}

.button-group input:checked + label.wcms-font,
.button-group input:checked + label.wcms-font:active,
.button-group input:checked + label.wcms-font:hover {
  background-color: #2199e8 !important;
}

.button-group input:checked + label.wcms-fluid,
.button-group input:checked + label.wcms-fluid:active,
.button-group input:checked + label.wcms-fluid:hover {
  background-color: #2199e8 !important;
}

#wcms-navigation-row {
	/*padding: 10px;*/
}

.wcms-overlap .wcms-header div.top-bar:not(.navbar-fixed-top) {
	position: absolute;
	left: 0;
	right: 0;
  bottom: 0;
}
.wcms-overlap #wcms-cell-controls-header {
  bottom: 0px;
}

.wcms-overlap .wcms-header.wcms-live div.top-bar:not(.navbar-fixed-top) {
  bottom: 0;
  border-radius: 0;
}

.wcms-header.flipped div.top-bar {
  position: relative !important;
  bottom: 0 !important;
  width: 100%;
}

div.top-bar.navbar-rounded {
	border-radius: .25rem;
}

.wcms-overlap div.top-bar.navbar-rounded {
	margin: 8px;
}

div.top-bar.navbar-fixed-top {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

div.top-bar.navbar-fixed-bottom {
	position: absolute;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 1000;
}

div.top-bar.navbar-fixed-bottom .is-dropdown-submenu {
	bottom: 42px !important;
	top: auto !important;
}

