<div class="wcms-drawer wcms-drawer-left">
	<%= render :partial => "admin/pages/toolbar_vertical" -%>
	<div id="wcms-cell-toolbar" class="wcms-toolbar" >
		<%#= render :partial => "admin/pages/cell_toolbars", :locals => {:p => @page} -%>
	</div>
</div>