<div class="<%= @page.setting.container_type -%> wcms-full-height-container">
	<div class="row wcms-page-display" id="wcms-page-display">
		<%= render :partial => "admin/pages/display" -%>
	</div>
</div>