body.wcms-navbar-fixed-bottom #wcms-content-wrapper {
	padding-bottom: 53px !important;	
}

.wcms-navbar-fixed-top #wcms-content-wrapper {
	padding-top: 53px !important;
}

#wcms-master-menu .dropdown-menu {
	background-color: rgba(51, 51, 51, 0.85);
	border-color: #7f7f7f;
}

small.wcms-form-help {
	color: #d6d6d6;
	display: inline-block;
	font-size: 0.65rem;
	padding: 1px;
}

nav.wcms-cell-controls:not(#wcms-cell-controls-header) {
	margin-top: -40px;
	border-radius: 0 0 0.25rem 0.25rem;
	background-color: rgba(51, 51, 51, 0.85);
	z-index: 2000;
	position: relative;
}

#wcms-cell-controls-header {
	margin-top: 0px;
	border-radius: 0 0 0 0;
	background-color: rgba(51, 51, 51, 0.85);
	z-index: 2000;
}

.wcms-header .card, .wcms-header .card-img {
	border-radius: 0;
	margin-bottom: 0;
}

.wcms-header .card-img-overlay {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;	
}

.wcms-header {
	background-color: transparent;
	margin-left: -0.9375rem;
	margin-right: -0.9375rem;
	position: relative;
}

@font-face {
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande" !important;
}

.form-control-label-right {
  text-align: right;
}

.form-control-xs {
  padding: .175rem .5rem;
  font-size: .750rem;
  border-radius: .2rem;
}

.file-custom-sm {
  padding: .275rem .75rem !important;
  border-radius: .2rem;
  font-size: .875rem;
  line-height: 1.5;
}

/* DROPDOWNS ON NAVBAR */
.navbar-light.bg-faded .dropdown-menu {
}
.navbar-light.bg-faded .dropdown-item {
	color: rgba(0,0,0,.3);
}
.navbar-light.bg-faded .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.navbar-light.bg-faded .dropdown-item.active {
	color: #000;
}

.navbar-dark.bg-inverse .dropdown-menu {
}
.navbar-dark.bg-inverse .dropdown-item {
	color: rgba(0,0,0,.3);
}
.navbar-dark.bg-inverse .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.navbar-dark.bg-inverse .dropdown-item.active {
	color: #fff;
}

.card {
  overflow: hidden; 
}

.wcms-front .card {
}

.card-secondary {
  background-color: #333;
  border-color: #333;
}

.card-inverse {
  color: rgba(255,255,255,0.65);
}

nav.navbar:not(.navbar-fixed-top) {
}

.wcms-header nav.navbar.wcms-above:not(.navbar-fixed-top) {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}

.wcms-overlap .wcms-header .wcms-above nav.navbar:not(.navbar-fixed-top) {
  top: 0;
}

.wcms-header nav.navbar.wcms-below:not(.navbar-fixed-top) {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.wcms-overlap .wcms-header .wcms-below nav.navbar:not(.navbar-fixed-top) {
  bottom: 0;
}

.wcms-overlap .wcms-header.wcms-live nav.navbar:not(.navbar-fixed-top) {
  bottom: 0;
  border-radius: 0;
}

.wcms-overlap #wcms-cell-controls-header {
  bottom: 54px;
}

.wcms-overlap nav.navbar.navbar-rounded {
  margin: 8px;
}

.wcms-header.flipped nav.navbar {
  position: relative !important;
  bottom: 0 !important;
  width: 100%;
}

.nav-item.hidden {
  display: none !important;
}

.card.wcms-cardless {
  border: none;
}

.wcms-dropdown-left {
	top: 0;
	left: 100%;
	right: auto;
}

.wcms-dropdown-right {
	top: 0;
	left: auto;
	right: 100%;
}

.navbar {
	z-index: 1999;
}

#wcms-cell-controls-header {
	z-index: 2001;
}