<%- unless row.cells.blank? -%>
		<div class="row wcms-row" id="wcms-row-<%= row.id -%>">
			<%- row.cells.each_with_index do |cell, cell_index| -%>
				<%= render :partial => "cell", :locals => {:row => row, :cell => cell, :index => cell_index} -%>
			<%- end -%>
		</div>
<%- end -%>
