<div>
<%= link_to "<i class='#{Cell::IMAGE_ICON}'></i>".html_safe, edit_admin_header_path(page), :class => "wcms-header-btn", :title => "Add Header Image", :data => {:page => page.id}, :remote => true -%>
<%- unless page.image.blank? -%>
	<%= link_to "<i class='fa fa-fw fa-crop'></i>".html_safe, "#", id: "wcms-header-crop", class: "wcms-header-btn", title: "Crop Header Image", data: {:page => page.id} -%>
	<%= form_for [:admin, @page], url: admin_header_path(@page), html: { class: "wcms-crop-form", id: "wcms-crop-form" } do |f| -%>
		<%- for attribute in [:crop_x, :crop_y, :crop_w, :crop_h, :placed_w, :placed_h] -%>	
			<%= f.hidden_field attribute, :id => attribute -%>
		<%- end -%>
	<%- end -%>
<%- end -%>
</div>
