<div class="wcms-tools wcms-tools-<%= id %> wcms-top-tools" id="wcms-tool-cell-top-<%= id %>" style="display: none;">
	<div class="btn-toolbar" role="toolbar" aria-label="Row Toolbar">
		<div class="btn-group" role="group" aria-label="Save Toolbar">	
			<%= link_to "Save", "#", :class => "save-btn btn btn-link btn-xs btn wcms-btn-link" -%>
		</div>
		<div class="btn-group" role="group" aria-label="Edit Toolbar">
			<%= link_to "Cancel", "#", :class => "cancel-btn btn btn-link btn-xs wcms-btn-link wcms-cancel-btn", :data => {:row => id} -%>
		</div>
	</div>
</div>