<div class="">
	<ol class="list-unstyled wcms-user-settings-list" id="wcms-user-settings-list">
		<li><%= link_to "<i class='#{User::ICON}'></i> User".html_safe, edit_user_path(@user), remote: true, class: 'wcms-sidebar-link' %></li>
		<li><%= link_to "<i class='#{Domain::ICON}'></i> Domain".html_safe, "#", class: 'wcms-sidebar-link' %></li>
		<li><%= link_to "<i class='#{User::PAYMENT_ICON}'></i> Payment".html_safe, "#", class: 'wcms-sidebar-link' %></li>
	</ol>
</div>

