<%- if @user.pages.blank? -%>
	<h3 class="text-center">Hey, your site is empty! Click <%= link_to "Pages", pages_path, :remote => true  -%> in the upper right to get started.</h3>
<%- else -%>
	<h3 class="text-center">Hello, I'm the location of the page display window</h3>
<%- end -%>
<div class="col-md-12 center-column" id="work-area">
	<div class="row">
		<div class="col-md-12 header-zone zone" id="header-row"></div>
	</div>
	<div class="row">
		<div class="col-md-12 navigation-zone" id="navigation-row">
			<%= render :partial => "page_nav" -%>
		</div>
	</div>
	<div class="row">
		<div class="col-md-12 body-zone zone" id="body-row"></div>
	</div>
	<div class="row">
		<div class="col-md-12 footer-zone zone" id="footer-row"></div>
	</div>
</div>