<div class="wcms-toolbox">
	<div class="row" id="wcms-row-<%= index %>">
		<div class="col-md-12">
			<div class="row wcms-row" id="wcms-row-<%= index -%>" data-row="<%= index -%>">
				<%- 1.upto(2) do |loop_index| -%>
					<%= render :partial => "cell", :locals => {:row => index, :id => loop_index, :width => 6, :offset => 0, :text_str => text_str} -%>
				<%- end -%>
			</div>
		</div>
	</div>
</div>