<div id="wcms-content-wrapper">
	<%= render :partial => 'pages/show' -%>
	<div class="wcms-left-column" id="wcms-drawer-forms" style="display: none;"></div>
</div>

<div id="wcms-sidebar-wrapper">
	<div class="wcms-right-column" id="drawer-assets">
		<h1 class="lead text-xs-center wcms-white-text"><i class="fa fa-fw fa-archive"></i> Assets</h1>
		<div id="assets-index-div"></div>
	</div>
	<div class="wcms-right-column" id="drawer-settings">
		<h1 class="lead text-xs-center wcms-white-text"><i class="fa fa-fw fa-cog"></i> Settings</h1>
		<div id="settings-index-div"></div>
	</div>
	<div class="wcms-right-column" id="drawer-pages">
		<h1 class="lead text-xs-center wcms-white-text"><i class="fa fa-fw fa-file"></i> Pages</h1>
		<div id="pages-index-div"></div>
	</div>
	<div class="wcms-right-column" id="drawer-help">
		<h1 class="lead text-xs-center wcms-white-text"><i class="<%= HelpTopic::ICON -%>"></i> Help</h1>
		<div id="help-index-div"></div>
	</div>
</div>

