<div class="card card-inverse card-danger text-xs-center">
  <div class="card-block">
    <blockquote class="card-blockquote">
      <p>There was a problem loading this content.</p>
      <footer>“We are all mistaken sometimes; sometimes we do wrong things, things that have bad consequences. But it does not mean we are evil, or that we cannot be trusted ever afterward.”  <cite title="Source Title">&#8212;Alison Croggon</cite></footer>
    </blockquote>
  </div>
</div>