<div id="wcms-no-nav">
	<ul class="list-unstyled dropdown menu" id="wcms-master-menu" style="background-color: transparent;" data-dropdown-menu data-click-open=true data-disable-hover=true data-close-on-click=true>
		<%= render :partial => 'admin/pages/master_menu', :locals => {:p => @page, :side => 'right', :orientation => "horizontal"} -%>
	</ul>
</div>