<%= render "nav" -%>
<div id="container-fluid">
	<div class="jumbotron jumbotron-fluid wcms-jumbotron-background">
		<div class="container">
			<h1 class="display-3 text-xs-center"><i class="fa fa-road fa-fw"></i> <%= cms_name -%></h1>
			<p class="lead text-xs-center">A Rails & Bootstrap based Content Management System by 1000 Paces</p>
			<p class="text-xs-center"><a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a></p>
		</div>
	</div>
</div>
