<div class="">
	<ol class="list-unstyled wcms-user-settings-list" id="wcms-user-settings-list">
		<li><%= link_to "<i class='#{Setting::DEFAULTS_ICON}'></i> Design".html_safe, edit_setting_path(@user), remote: true, class: 'wcms-sidebar-link' %></li>
		<li><%= link_to "<i class='#{Domain::ICON}'></i> Website Domain".html_safe, edit_domain_path(@user), remote: true, class: 'wcms-sidebar-link' %></li>
		<li><%= link_to "<i class='#{User::ICON}'></i> User Account".html_safe, edit_user_path(@user), remote: true, class: 'wcms-sidebar-link' %></li>
		<li><%= link_to "<i class='#{User::PAYMENT_ICON}'></i> Payment Info".html_safe, "#", class: 'wcms-sidebar-link' %></li>
	</ol>
</div>