<div class="wcms-drawer wcms-drawer-left">
	<%= render :partial => "pages/toolbar_vertical" -%>
	<div id="wcms-cell-toolbar-container">
		<%= render :partial => "pages/cell_toolbars", :locals => {:p => @page} -%>
	</div>
</div>