<div class="<%= @user.setting.fluid? ? 'container-fluid' : 'container' -%> full-height-container">
	<div class="row wcms-page-display" id="wcms-page-display">
		<%= render :partial => "pages/display" -%>
	</div>
	
</div>