<%= render :partial => "pages/toolbar" -%>
<div class="container-fluid full-height-container">
	<div class="row wcms-page-display" id="page-display">
		<%= render :partial => "pages/display" -%>
	</div>
</div>
<%= render :partial => 'pages/footer' -%>