<div class="<%= @user.setting.fluid? ? 'container-fluid' : 'container' -%> full-height-container">
	<div class="row wcms-page-display" id="wcms-page-display">
		<%= render :partial => "pages/display" -%>
	</div>
			<div class="wcms-left-column" id="wcms-drawer-forms" style="display: none;"></div>

</div>