<li class="nav-item wcms-page-duplicate"><%= link_to "<i class='fa fa-fw fa-files-o'></i> Duplicate".html_safe, "#", :class => "nav-link wcms-duplicate sidebar-link wcms-master-toolbar-link", :title => "Duplicate", :id => "wcms-duplicate", :remote => true -%></li>
