<div class="btn-group btn-group-xs" role="group" aria-label="...">
	<%= button_tag "<i class='fa fa-fw fa-long-arrow-left'></i>".html_safe, :id => "grow-left", :class => 'btn btn-secondary' -%>
	<%= button_tag "<i class='fa fa-fw fa-arrows-h'></i>".html_safe, :id => "grow-both", :class => 'btn btn-secondary' -%>
	<%= button_tag "<i class='fa fa-fw fa-long-arrow-right'></i>".html_safe, :id => "grow-right", :class => 'btn btn-secondary' -%>
</div>