/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: -apple-system, "Helvetica Neue", "Lucida Grande" !important;
}

body {
	/*padding-top: 5rem;
	padding-bottom: 5rem;*/
}

.form-control-label-right {
	text-align: right;
}

.wcms-white-text {
	color: #fff !important;
}
.wcms-navbar-brand-icon {
	float: left;
	padding-top: .5rem;
	padding-bottom: .25rem;
	margin-right: 1rem;
}

#footer li a {
	/*font-variant: small-caps;*/
}

#footer img {
	padding-top: 7px;
}

/*
.btn-primary-outline {
	color: #32537c !important;
	border-color: #32537c !important;
}

.btn-primary {
	background-color: #32537c !important;
	border-color: #32537c !important;
}
.btn-primary-outline:active, .btn-primary-outline:focus, .btn-primary-outline:hover {
	background-color: #32537c !important;
	color: #fff !important;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #4571a9 !important;
	border-color: #4571a9 !important;
}
*/