/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery-ui
 *= require_tree .
 *= require_self
 */

@font-face {
	font-family: -apple-system, "Helvetica Neue", "Lucida Grande" !important;
}

body {
	/*padding-top: 5rem;
	padding-bottom: 5rem;*/
}

.form-control-label-right {
	text-align: right;
}

.wcms-white-text {
	color: #fff !important;
}
.wcms-navbar-brand-icon {
	float: left;
	padding-top: .5rem;
	padding-bottom: .25rem;
	margin-right: 1rem;
}

.file-custom-sm {
	padding: .275rem .75rem !important;
	border-radius: .2rem;
	font-size: .875rem;
	line-height: 1.5;
}

#footer li a {
	/*font-variant: small-caps;*/
}

#footer img {
	padding-top: 7px;
}

/* .nav-pills-light */
.nav-pills-light {
	background-color: transparent;
}
.nav-pills-light a.nav-link.active {
	background-color: #ccc;
	color: #000;
}
.nav-pills-light a.nav-link:hover {
	background-color: #eee;
	color: #000;
}
.nav-pills-light a {
	color: rgba(0,0,0,.3);
}
.nav-pills-light a.active {
	color: #000;
}
.nav-pills-light li.open > a {
	background-color: #ccc !important;
}
.nav-pills-light.bg-faded .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.nav-pills-light.bg-faded .dropdown-item.active {
	background-color: #fff;
	color: #000;
}

/* .nav-pills-light.bg-secondary */
.nav-pills-light.bg-secondary {
	background-color: transparent;
}
.nav-pills-light.bg-secondary a.nav-link.active {
  color: #373a3c;
  background-color: #fff;
  border: 1px solid #ccc;
}
.nav-pills-light.bg-secondary a.nav-link:hover {
  color: #373a3c;
  background-color: #e6e6e6;
  border-color: #adadad;
}
.nav-pills-light.bg-secondary a {
	color: rgba(0,0,0,.3);
}
.nav-pills-light.bg-secondary a.active {
	color: #000;
}
.nav-pills-light li.open > a {
	background-color: #ccc !important;
}
.nav-pills-light.bg-secondary .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.nav-pills-light.bg-secondary .dropdown-item.active {
	background-color: #fff;
	color: #000;
}

/* .nav-pills-dark */
.nav-pills-dark {
	background-color: transparent;
}
.nav-pills-dark a {
	color: #373a3c;
}
.nav-pills-dark a.nav-link:hover {
	background-color: gray;
	color: #fff;
}
.nav-pills-dark a.nav-link.active {
	background-color: #373a3c;
	color: #eceeef;
}
.nav-pills-dark li.open > a {
	background-color: gray !important;
}
.nav-pills-dark.bg-inverse .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.nav-pills-dark.bg-inverse .dropdown-item.active {
	background-color: #373a3c;
	color: #eceeef;
}

/* .nav-pills-dark.bg-primary */
.nav-pills-dark.bg-primary {
  background-color: transparent !important;
}
.nav-pills-dark.bg-primary a {
  color: #0275d8;
}
.nav-pills-dark.bg-primary a.nav-link:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
.nav-pills-dark.bg-primary a.nav-link.active {
  color: #fff;
  background-color: #0275d8;
  border-color: #0275d8;
}
.nav-pills-dark.bg-primary li.open > a {
	color: #0275d8 !important;
  background-color: #fff !important;
  border: 1px solid #0275d8 !important;
}
.nav-pills-dark.bg-primary .dropdown-item:hover {
  color: #fff;
  background-color: #025aa5;
  border-color: #01549b;
}
.nav-pills-dark.bg-primary .dropdown-item.active {
	background-color: #0275d8;
	color: #fff;
}


/* DROPDOWNS */
.navbar-light.bg-faded .dropdown-menu {
}
.navbar-light.bg-faded .dropdown-item {
	color: rgba(0,0,0,.3);
}
.navbar-light.bg-faded .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.navbar-light.bg-faded .dropdown-item.active {
	background-color: #fff;
	color: #000;
}

.navbar-dark.bg-inverse .dropdown-menu {
}
.navbar-dark.bg-inverse .dropdown-item {
	color: rgba(0,0,0,.3);
}
.navbar-dark.bg-inverse .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.navbar-dark.bg-inverse .dropdown-item.active {
	background-color: #fff;
	color: #000;
}

.navbar-dark.bg-primary .dropdown-menu {
}
.navbar-dark.bg-primary .dropdown-item {
	color: rgba(0,0,0,.3);
}
.navbar-dark.bg-primary .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.navbar-dark.bg-primary .dropdown-item.active {
	background-color: #fff;
	color: #0275d8 !important;
}

.navbar-light.bg-secondary {
	border-bottom: 1px solid #adadad;
}
.navbar-light.bg-secondary .dropdown-menu {
}
.navbar-light.bg-secondary .dropdown-item {
	color: rgba(0,0,0,.3);
}
.navbar-light.bg-secondary .dropdown-item:hover {
	color: rgba(0,0,0,.6);
}
.navbar-light.bg-secondary .dropdown-item.active {
	background-color: #fff;
	color: #000;
}






/*
.btn-primary-outline {
	color: #32537c !important;
	border-color: #32537c !important;
}

.btn-primary {
	background-color: #32537c !important;
	border-color: #32537c !important;
}
.btn-primary-outline:active, .btn-primary-outline:focus, .btn-primary-outline:hover {
	background-color: #32537c !important;
	color: #fff !important;
}
.btn-primary:active, .btn-primary:focus, .btn-primary:hover {
	background-color: #4571a9 !important;
	border-color: #4571a9 !important;
}
*/