// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
	min-height: 100%;
}

div#full-height {
	padding: 0 0 0 0;
	height: 100%;
	min-height: 100%;
}

.header-row {
	background-color: #e8e8e8;
	padding: 0 0 10px 0 !important;
	margin-right: 0 !important;
	margin-bottom: 20px !important;
}

.side-column {
	background-color: #eee;
}

.left-column {
	position: absolute;
	top: 50px;
	left: 0;
	width: 80%;
}

.right-column {
	position: absolute;
	top: 50px;
	right: 0;
	width: 20%;
	display: none;
	z-index: 999;
}

.center-column {
	background-color: #fff;
}

body {
	background-color: #666 !important; /*#9d9d9d ;*/
	padding: 0 !important;
}

.full-height-container {
	padding-top: 50px !important;
	padding-bottom: 70px !important;
	min-height: 100% !important;
	height: 100% !important;
	position: relative;	
	background-color: #fff !important;
	border-right: 1px solid #101010;
	margin-right: -1px !important;
}

.white-text {
	color: #fff;
}

a.sidebar-link {
	color: #fff !important;
	text-decoration: none !important;
}

a.sidebar-link:hover {
	color: #fff !important;
	text-decoration: none !important;
}

a.sidebar-link:visited {
	color: #fff !important;
	text-decoration: none !important;
}

a.sidebar-link:active {
	color: #fff !important;
	text-decoration: none !important;
}