// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html, body {
	height: 100%;
	min-height: 100%;
}

div#wcms-wrapper {
	padding-right: 0; /* 0 0 0;*/
	height: 100%;
	min-height: 100%;
}

#wcms-wrapper.toggled {
   padding-right: 250px;
}

div#wcms-content-wrapper {
	width: 100%;
	position: absolute;
	padding: 15px;
	padding: 0 0 0 0;
	height: 100%;
	min-height: 100%;  
}

div#wcms-sidebar-wrapper {
	z-index: 1000;
	position: fixed;
	right: 250px;
	width: 0;
	height: 100%;
	margin-right: -250px;
	overflow-y: auto;
	background: #666;
	border-left: 1px solid #7f7f7f;
	-webkit-transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	transition: all 0.5s ease;
}

#wcms-wrapper.toggled #wcms-sidebar-wrapper {
   width: 250px;
}

@media(min-width:768px) {
	#wcms-wrapper {
	  padding-right: 250px;
	}

	#wcms-wrapper.toggled {
	  padding-right: 0;
	}

	#wcms-sidebar-wrapper {
	  width: 250px;
	}

	#wcms-wrapper.toggled #wcms-sidebar-wrapper {
	  /*width: 0;*/
	}

	#wcms-content-wrapper {
	  padding: 20px;
	  position: relative;
	}

	#wcms-wrapper.toggled #wcms-content-wrapper {
	  /*position: relative;*/
	  margin-right: 0;
	}
}



.header-row {
	background-color: #e8e8e8;
	padding: 0 0 10px 0 !important;
	margin-right: 0 !important;
	margin-bottom: 20px !important;
	border-bottom: 1px solid #dcdcdc;	
}

.help-header-row {
	background-color: #fcf8e3;
	padding: 0 0 10px 0 !important;
	margin-right: 0 !important;
	margin-bottom: 20px !important;
	border-bottom: 1px solid #faebcc;
}

.side-column {
	background-color: #eee;
}

.wcms-left-column {
	position: absolute;
	top: 50px;
	left: 0;
	/*width: 80%;*/
}


.right-column {
	position: absolute;
	top: 50px;
	width: 250px;
	/*right: 0;
	width: 20%;*/
	display: none;
	/*z-index: 999;*/
}


.center-column {
	background-color: #fff;
}

body {
	background-color: #ccc !important; /*#9d9d9d ;*/
	padding: 0 !important;
}

.full-height-container {
	padding-top: 50px !important;
	padding-bottom: 70px !important;
	min-height: 100% !important;
	/*height: 100% !important;*/
	position: relative;	
	background-color: #fff !important;
	/*margin-right: -1px !important;*/
}

.wcms-white-text-label {
	margin-top: 20px;
	color: #fff;
	font-weight: 300;
	padding: 6px 0;
	background-color: #7f7f7f !important;
}

a.sidebar-link {
	color: #fff !important;
	text-decoration: none !important;
	font-weight: 100;
}

a.sidebar-link:hover {
	color: #ddd !important;
	text-decoration: none !important;
}

a.sidebar-link:visited {
	color: #fff !important;
	text-decoration: none !important;
}

a.sidebar-link:active {
	color: #fff !important;
	text-decoration: none !important;
}

ol.list-unstyled ol {
	list-style: none;
	padding-left: 0 !important;
}

ol.list-unstyled ol li {
	list-style: none;
	padding-left: -20px !important;
}

.page-list li {
	padding: 8px 4px 8px 30px;
	margin: 2px 0;
}

ol.page-list {
	padding-left: 2px !important;
	min-height: 50px;
}

.placeholder {
	background-color: #7f7f7f;
}
.ui-nestedSortable-error {
	background-color: #d9534f;
}

.header-zone, .navigation-zone, .footer-zone {
	min-height: 50px !important;
}

.wcms-cell {
	min-height: 140px !important;
	background-color: #fff;
	padding: 4px 10px !important;
	border: 1px solid #fff !important;
}

.wcms-cell-active {
	border: 1px solid #eee !important;
}

.wcms-work-cell-active {
	border: 1px solid #ccc !important;
	min-height: 140px;
}

.zone {

}
.zone:hover {

}

.work-area {
	padding: 10px;
	border: 1px solid #fff;
	border-radius: 4px;	
}

.work-area:hover {
	border: 1px solid #eee;
	border-radius: 4px;
}

.wcms-work-row {
	position: relative !important;
	background-color: #fff;
	border: 1px solid #fff;
	border-radius: 4px;
	min-height: 140px;
}

.wcms-work-row-active {
	border: 1px solid #ccc !important;
	border-top: 1px solid #fff !important;
	border-bottom: 1px solid #fff !important;
	min-height: 140px;
}

.wcms-tools-vertical {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 0;
	/*margin: -2px -15px;*/
	min-height: 140px;
}

.wcms-tool-row {
	background-color: green;
	border: 1px solid #fff;
	padding: 0;
	border-radius: 4px;
	margin: -2px -15px;
	min-height: 140px;
}

.wcms-tool-row-active {
	background-color: #eee;
	border: 1px solid #ccc;
	padding: 0 32px;
	border-radius: 4px;
	margin: -2px -15px;
	min-height: 140px;
}

.wcms-tools a {
	color: #404040 !important;
}

.wcms-tools a:hover {
	color: #000 !important;
	text-decoration: none !important;
}

.wcms-tools-left {
	position: absolute;
	left: -21px; 
	top: -1px;
	z-index: 50;
	border-radius: 4px 0 0 4px;
}

.wcms-tools-right {
	position: absolute;
	right: -21px; 
	top: -1px;
	z-index: 50;
	border-radius: 0 4px 4px 0;
}

.wcms-row {
	position: relative;
}

.wcms-row .wcms-cell {
	background-color: transparent;
	margin: 0 !important;
	padding: 0 !important;
}

.wcms-row:first-child {
  opacity: .99;
  z-index: 101;
}

.wcms-left-tools {
	left: -15px; 
	top: 8px;
}

.wcms-toolbox {
	position: relative;
	/*margin-top: 24px;*/
}

.wcms-page-display {
	margin-left: 0 !important;
	margin-right: 0 !important;
}

.wcms-top-tools {
	height: 20px;
	position: absolute !important;
	top: -22px;
	z-index: 10;
	left: auto;
	right: auto;
	width: 200px !important;
}

.wcms-left-tools, .wcms-right-tools {
	width: 20px;
	position: absolute !important;
}

.wcms-right-tools {
	right: -1px; /*18px*/
	top: 8px;
}

.wcms-btn-link {
	border: 1px solid #ccc !important;
	border-radius: 4px 4px 0px 0px !important;
	border-bottom: none !important;
}

.wcms-grid-size-btn {
	/*border: 1px solid red !important;*/
	padding: 5px !important;
	color: #777 !important;
}
.wcms-grid-size-btn:hover {
	/*background-color: #f5f4f4 !important;*/
	text-decoration: none !important;
	font-weight: bold;
	color: #000 !important;
}

.wcms-toolbar-div {
	position: relative;
}

#wcms-cell-toolbar {
	position: absolute;
	/*top: -23px;*/
	left: 0;
	z-index: 500;
}

#wcms-cell-toolbar-bottom {
	position: absolute;
	bottom: -23px;
	left: 0;
}

#wcms-add-row-top {
	margin-bottom: 24px;
}

:focus {
  outline-color: transparent;
  outline-style: none;
}

.wcms-hidden-input {
	display: none;
}

.wcms-sidebar-form {
	margin: 10px;
}

.wcms-white-text {
	color: #fff !important;
}

