// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.navbar .form-inline {
	margin-left: 20px;
	margin-right: 20px
}

body {
	background-color: pink;
}