<div class="wcms-container">
	<div class="row">
		<div class="columns">
		  	<div class="callout">
				    <%#= cms_logo -%>
						<%= form_for [:admin, @user], url: user_session_path, method: :post, html: { role: 'form' } do |f| %>  
						  
				  	    <label class="show-for-sr" for="user_login">Email</label>
						    <%= f.text_field :login, class: 'form-control', placeholder: 'Email Address' %>
						  
						  
						  	<label class="show-for-sr" for="user_password">Password</label>
						    <%= f.password_field :password, class: 'form-control', placeholder: 'Password' %>
						  
						  
							  <%= f.submit 'Login', class: 'secondary button' %>
							
						<% end %>
				</div>
		</div>
	</div>
</div>